/* ============================ */
/*            HEADER            */
/* ============================ */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    background-color: #FCFCFC;
}

header h1 {
    color: #773795;
    font-size: 26px;
}

.col {
    display: flex;
    align-items: center;
}

.col ul {
    list-style: none;
    display: flex;
}

.col ul li {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    margin: 0 10px;
}

.col button {
    font-family: 'Inter', sans-serif;
    border: 1px solid transparent;
    background-color: #773795;
    border-radius: 22px;
    color: #FCFCFC;
    padding: 5px 25px;
    font-weight: 700;
    transition: all .2s;
}

.col button:hover {
    background-color: #FCFCFC;
    border: 1px solid #773795;
    color: #773795;
    cursor: pointer;
}
.col img {
    width: 50px;
    margin-left: 25px;
}