<header>
    <div class="col">
        <h1>LOGO</h1>
        <ul *ngIf="isLogged">
            <li (click)="changeDataType('tracks')">Top Tracks</li>
            <li (click)="changeDataType('artists')">Top Artists</li>
            <li style="color: #d3d3d3">Top Genres</li>
            <li (click)="changeDataType('recently')">Recently played</li>
        </ul>
    </div>
    <div class="col" *ngIf="!isLogged">
        <button (click)="login()">Login</button>
    </div>
    <div class="col" *ngIf="isLogged">
        <p>Alisson</p>
        <img src="" alt="foto">
    </div>
</header>