main {
    margin: 0 250px;
}



.data-tab {
    
    
}

.data-tab ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.data-tab ul li {
    width: 33%;
    text-align: center;

    padding: 0.5rem 0;
    margin-bottom: -1px;
    border: 1px solid transparent;
    
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #FFF;
    border-bottom: 1px solid #dee2e6;
}

.data-tab ul li.selected {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}




.data-row {
    display: flex;
    align-items: center;
    background-color: #FFF;
    margin: 15px 0;
    padding: 10px 50px;
}

.data-row:nth-child(1) {
    margin-top: 0;
}

.data-row .data-pic {
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.data-row .data-title {
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-row .data-title a {
    border: 1px solid #773795;
    border-radius: 15px;
    color: #773795;
    background-color: #FFF;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
}

.data-row img {
    height: 75px;
}