<app-header></app-header>

<header>
    <div class="col">
        <h1>LOGO</h1>
        <ul *ngIf="isLogged">
            <li (click)="changeDataType('tracks')">Top Tracks</li>
            <li (click)="changeDataType('artists')">Top Artists</li>
            <li (click)="changeDataType('genres')">Top Genres</li>
            <li (click)="changeDataType('recently')">Recently played</li>
        </ul>
    </div>
    <div class="col" *ngIf="!isLogged">
        <button (click)="login()">Login</button>
    </div>
    <div class="col" *ngIf="isLogged">
        <p>Alisson</p>
        <img src="" alt="foto">
    </div>
</header>





<main *ngIf="isLogged">
    
    
    <div class="data-tab">
        <ul>
            <li (click)="changeTimeRange(1)" [ngClass]="tab === 1 ? 'selected' : ''">Último mês</li>
            <li (click)="changeTimeRange(2)" [ngClass]="tab === 2 ? 'selected' : ''">Últimos 6 meses</li>
            <li (click)="changeTimeRange(3)" [ngClass]="tab === 3 ? 'selected' : ''">Último ano</li>
        </ul>
    </div>

    <section class="data">
        <div class="data-row" *ngFor="let track of tracks; let i = index">
            <div class="data-pic">
                <img *ngIf="type == 'tracks'" [src]="track.album.images[1].url" [alt]="track.name">
                <img *ngIf="type == 'artists'" [src]="track.images[1].url" [alt]="track.name">
                <p>{{i+1}}</p>
            </div>
            <div class="data-title">
                <p>{{track.name}}</p>
                <a target="_blank" [href]="track.external_urls.spotify">Abrir no Spotify</a>
            </div>
        </div>
    </section>

    <div class="more">
        <button (click)="changeLimit()" *ngIf="limit < 50">Show more</button>
    </div>
</main>