/* ============================= */
/*            GENERAL            */
/* ============================= */

main {
    margin: 0 250px;
}

/* ============================= */
/*        DATE RANGE TABS        */
/* ============================= */

.data-tab ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 25px 0;
    background-color: #FFF;
    border-radius: 22px;
    margin: 25px 0px;
}

.data-tab ul li {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #E9B9F2;
    width: 33%;
    text-align: center;
    padding: 0.5rem 0;
}

.data-tab ul li.selected {
    color: #773795;
    font-weight: 600;
    /* background-color: #FCFCFC; */
}

/* ============================ */
/*         SPOTIFY DATA         */
/* ============================ */

.data-row {
    display: flex;
    align-items: center;
    background-color: #FFF;
    margin: 15px 0;
    padding: 10px 50px;
}

.data-row:nth-child(1) {
    margin-top: 0;
}

/* first row */

.data-row .data-pic {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* second row */

.data-row .data-title {
    width: 50%;
}

.data-row .data-title p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #0E1133;
}

.data-row .data-title span {
    font-size: 14px;
    font-weight: 500;
    color: #505056;
}

/* third row */

.data-row .open {
    width: 25%;
    text-align: end;
}

.data-row .open button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border: 1px solid #773795;
    border-radius: 15px;
    background-color: #FCFCFC;
    color: #773795;
    padding: 5px 25px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    transition: all .2s;
}

.data-row .open button:hover {
    background-color: #773795;
    color: #FCFCFC;
}

.data-row img {
    height: 75px;
}


.more {
    width: 100%;
    text-align: center;
}