<app-header 
    [limit]="limit" 
    (changeDataTypeParent)="changeDataType($event)"
    (isLoggedParent)="isLoggedFeedback($event)"
    >
</app-header>

<main *ngIf="isLogged">
    <div class="data-tab" *ngIf="showTracks">
        <ul *ngIf="!loading">
            <li (click)="changeTimeRange(1)" [ngClass]="tab === 1 ? 'selected' : ''">Último mês</li>
            <li (click)="changeTimeRange(2)" [ngClass]="tab === 2 ? 'selected' : ''">Últimos 6 meses</li>
            <li (click)="changeTimeRange(3)" [ngClass]="tab === 3 ? 'selected' : ''">Último ano</li>
        </ul>
        <ul *ngIf="loading" class="skeleton-ul">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div *ngIf="loading">
        <ng-container *ngTemplateOutlet="skeleton"></ng-container>
        <ng-container *ngTemplateOutlet="skeleton"></ng-container>
        <ng-container *ngTemplateOutlet="skeleton"></ng-container>    
        <ng-container *ngTemplateOutlet="skeleton"></ng-container>
        <ng-container *ngTemplateOutlet="skeleton"></ng-container>
    </div>

    <section class="data" *ngIf="showTracks && !loading">
        <div class="data-row" *ngFor="let track of tracks; let i = index">
            <div class="data-pic">
                <img *ngIf="type == 'tracks'" [src]="track.album.images[1].url" [alt]="track.name">
                <img *ngIf="type == 'artists'" [src]="track.images[1].url" [alt]="track.name">
                <p>#{{i+1}}</p>
            </div>
            <div class="data-title">
                <p>{{track.name}}</p>
                <span *ngFor="let artist of track.artists">{{artist.name}}, </span>
            </div>
            <div class="open">
                <button target="_blank">Abrir no Spotify</button>
            </div>
        </div>
    </section>
    <section class="data" *ngIf="!showTracks && !loading" style="margin-top: 50px;">
        <div class="data-row" *ngFor="let track of recentlyPlayed; let i = index">
            <div class="data-pic">
                <img [src]="track.track.album.images[1].url" [alt]="track.track.name">            
            </div>
            <div class="data-title">
                <p>{{track.track.name}}</p>
                <span *ngFor="let artist of track.track.artists">{{artist.name}}, </span>
            </div>
            <div class="open">
                <button target="_blank">Abrir no Spotify</button>
            </div>
        </div>
    </section>
    <div class="more">
        <button [disabled]="loading" (click)="changeLimit()" *ngIf="limit < 50 && !loading">Show more</button>
    </div>
</main>

<!-- SKELETON NG TEMPLATE -->
<ng-template #skeleton>
    <section class="data skeleton">
        <div class="data-row">
            <div class="data-pic">
                <div class="img"></div>
            </div>
            <div class="data-title">
                <div></div>
                <span></span>
            </div>
            <div class="open">
                <div></div>
            </div>
        </div>
    </section>
  </ng-template>